PORT=3000

SHEET1_ID=1wfyA9-RAVTV1GiBGpwX2MR7VKp5OGd-Rl7Df-qBeMR8
SHEET2_ID=1x5RTtB-a_DnBEmI-5PqEDsbXageUkEiWGn0iZc_NzPU
SHEET1_NAME=ราคารถเข้าสาขา
SHEET2_NAME=primary key

LINE_CHANNEL_ACCESS_TOKEN=
LINE_GROUP_ID=

DEFAULT_DEALER_SALES=
DEFAULT_STATUS=บันทึกแล้ว

GOOGLE_SERVICE_ACCOUNT_FILE=credentials.json

